a {
    font-weight: 800;
    color: forestgreen;
}

h1 {
    font-weight: 800;
    color: forestgreen
}

* {
    text-align: center;
    margin-top: 16px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div {
        border: 2px solid lightblue;
        height: 100px;
        padding: 10px 0;
        display: flex;
        justify-content: center;
      }
